<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>

<!--
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.css" rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.2.0.min.js"></script> -->


    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h2>Quandl WIKI EOD Stock Prices - 2017</h2>

      <label class="bk">Enter ticker:</label>
      <form method="POST">
        <input name="text" value = "{{curr_ticker}}">
        <input type="submit">
      </form>

      {{ div | safe }}

    </div>
  </body>
</html>
